.panel {
    border: .1rem solid black;
    border-radius: .4rem;
    padding: 1.3rem;
    margin-bottom: .8rem;
}

.button {
    border: .1rem solid #777;
    padding: .4rem;
    margin-right: .8rem;
    margin-top: .8rem;
}